* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    border: 0;
  }
  
  header {
    min-width: 100px;
    min-height: 100px;
    background-color: #F79F1F;
  }
  
  aside {
    min-width: 100px;
    min-height: 100px;
    background-color: #A3CB38;
  }
  
  main {
    min-width: 100px;
    min-height: 100px;
    background-color: #1289A7;
    padding: 1rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
  
  footer {
    min-width: 100px;
    min-height: 100px;
    background-color: #D980FA;
  }